#blurb_wrapper
  #blurb.container
    %h2 Shockingly Good Web Design&trade;

#content_wrapper
  #content.container
    .category
      %img{ :src => '/images/paint.png'}
      %h3 Design
      %p We hand-code layouts that are clear, light, interactive, accessible, standards-compliant, and compatible with every major browser
    .category
      %img.short{ :src => '/images/hat.png'}
      %h3 Development
      %p== We use <a href="http://rubyonrails.org">Ruby on Rails</a> to build highly interactive web applications. More buzzwords, you say? Alright: database-driven, RESTful, AJAX-enabled, test-driven, agile.
    .category
      %img{ :src => '/images/light.png'}
      %h3 Discussion
      %p We also offer consulting services for anything related to web design and development. Let us know what you're looking for and we'll fill in the blanks.
